span {
    font-weight:900;
    font-size:3em;
    margin-left: 10px;
    
}

img {
    width:230px;
    height:300px;
    border-radius: 20px;
}

table {
    width:70%;
    text-align:center;
    margin: 0 auto;
    border:1px solid white;
    border-collapse: collapse;
}

th {
    border-bottom:1px solid #ffffff;
}

#github-link  {
    text-align:center;
}

a {
    text-decoration:none;
    color: white;
}